[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
channels = {extras = ["daphne"], version = "*"}
pytest-django = "*"
model-bakery = "*"

[dev-packages]
pytest = "*"